    <section class="about-1 pt-5  ">
      <div class="about d-flex justify-content-center align-items-center text-white pt-5">
         <div class="text-center pt-4" style="color: white;">
      <h2 class="text-uppercase mb-3 fs-1 fw-bolder mt-5">about component</h2>
      <div class="d-flex justify-content-center mt-2"> 
         <div class="line me-3 mt-2" style="background-color: white;"></div>
         <i class="fa-solid fa-star mb-5 fs-5 text-white"></i>
         <div class="line ms-3 mt-2" style="background-color: white;"></div>
         </div>
      </div>
       </div>

       <div class="container">
         <div class="row px-5">
            <div class="col-md-6 ps-md-4 text-white">
           <p class="par fs-5"> Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as<br> optional SASS stylesheets for easy customization. </p>
            </div>
            
            <div class="col-md-6 pe-5 text-white">
               <p class="par fs-5"> Freelancer is a free bootstrap theme created by Route. The download the complete source files including HTML, CSS, and JavaScript as well as <br>optional SASS stylesheets for easy customization. </p>
            </div>
         </div>
       </div>
       <br>
       <br>
       <br>
       <br>
       <br>
    </section>


    <section>
    <div class="container2 top-0">
      <div class="row px-5">
        <div class="col-md-4">
        <div class=" text-white ms-lg-5 mt-3">
           <h3>location</h3>
           <p>2215 John Daniel Drive</p>
           <p>Clark, MO 65243</p>
           </div>
      </div>
   
      <div class="col-md-4">
        <div class="text-center text-white mt-3">
          <h3 class="mb-2">AROUND THE WEB</h3>  
          <div class="icons">
           <i class="fa-brands fa-facebook mx-1 icon"></i>
           <i class="fa-brands fa-twitter mx-1 icon  "></i>
           <i class="fa-brands fa-linkedin-in mx-1 icon  "></i> 
          <i class="fa-solid fa-globe mx-1 icon  "></i>
        </div>
     </div>
   
    
      </div>
   
      <div class="col-md-4">
         <div class="text-center mt-3 text-white">
            <h3 >ABOUT FREELANCER</h3>
            <p > Freelance is a free to use,<br> licensed Bootstrap theme created by Route </p>
         </div>
       </div>
   
      </div>
   </div>
   
    </section>


   <section class=" text-center mb-2">
           <div class="Website text-white  align-items-center">
              <p class="tes">Copyright © Your Website 2021</p>
              <br>
               </div>
         </section>