 
  <!-- <nav class="navbar navbar-expand-lg fixed-top py-4 position-fixed">
    <div class="container-fluid">
      <a class="navbar-brand text-white text-uppercase" routerLink="home">start fremwork</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse position-relative" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          
          <li class="nav-item me-3">
            <a class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2" routerLink="home" routerLinkActive=" rounded-3">Home</a>
          </li>
           
          <li class="nav-item me-3">
            <a class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2" routerLink="about" routerLinkActive=" rounded-3">About</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2" routerLink="portfolio" routerLinkActive=" rounded-3">portfolio</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2" routerLink="conatct" routerLinkActive=" rounded-3">Conatct</a>
          </li>
          
          
        </ul>
      </div>
    </div>
  </nav> -->


  <nav class="navbar navbar-expand-lg fixed-top py-4">
    <div class="container">
      <a class="navbar-brand align-ite text-white text-uppercase " routerLink="home">start fremwork</a>
      <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler collapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarSupportedContent" class="navbar-collapse collapse  ms-auto">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item me-3">
            <a class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2" style="width: fit-content;"routerLink="about" routerlinkactive="active rounded-3 " >about</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2" style="width: fit-content;"routerLink="portfolio" routerlinkactive="active rounded-3" >portfolio</a>
          </li>
          <li class="nav-item me-3">
            <a  class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2" style="width: fit-content;" routerLink="conatct"  routerlinkactive="active rounded-3">contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  
  
  
  
  
  
  
  
  
   



 
  
  
  
  
  
  
  
  
  
  
   
