<section class="conatct pt-4">
    <div class="pt-4 mb-4">
        <h2 class="text-uppercase mb-3 fs-1 fw-bolder pt-5 text-center">portfolio component</h2>
    </div>
    <div class="d-flex align-items-center justify-content-center mb-3"> 
        <div class="line me-3 mt-2" style="background-color: rgb(44, 62, 80);"></div>
        <i class="fa-solid fa-star"></i>
        <div class="line ms-3 mt-2" style="background-color: rgb(44, 62, 80);"></div>
        </div>

        <br>
        <form novalidate="" action="" class="w-50 p-3 mx-auto mt-5 ng-pristine ng-valid ng-touched">
            <label for="userName" class="position-relative top-0 __top"> </label>
            <input id="userName" type="text" placeholder="userName" name="userName" class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched">
            <label for="userAge" class="position-relative top-0 __top">  </label>
            <input id="userAge" type="text" placeholder="userAge" name="userName" class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched">
            <label for="userEmail" class="position-relative top-0 __top"> </label>
            <input id="userEmail" type="text" placeholder="userEmail" name="userName" class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched">
            <label for="userPassword" class="position-relative top-0 __top"> </label>
            <input id="userPassword" type="text" placeholder="userPassword" name="userName" class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched">
            <button class="btn mt-4 text-white" style="background-color: #1abc9c;"> send Message </button>
        </form>


        <div class="container2 top-0">
            <div class="row px-5">
              <div class="col-md-4">
              <div class=" text-white ms-lg-5 mt-3">
                 <h3>location</h3>
                 <p>2215 John Daniel Drive</p>
                 <p>Clark, MO 65243</p>
                 </div>
            </div>
         
            <div class="col-md-4">
              <div class="text-center text-white mt-3">
                <h3 class="mb-2">AROUND THE WEB</h3>  
                <div class="icons">
                 <i class="fa-brands fa-facebook mx-1 icon"></i>
                 <i class="fa-brands fa-twitter mx-1 icon  "></i>
                 <i class="fa-brands fa-linkedin-in mx-1 icon  "></i> 
                <i class="fa-solid fa-globe mx-1 icon  "></i>
              </div>
           </div>
         
          
            </div>
         
            <div class="col-md-4">
               <div class="text-center mt-3 text-white">
                  <h3 >ABOUT FREELANCER</h3>
                  <p > Freelance is a free to use,<br> licensed Bootstrap theme created by Route </p>
               </div>
             </div>
         
            </div>
         </div>
          
        
        
         <section class=" text-center mb-2">
                 <div class="Website text-white  align-items-center">
                    <p class="tes">Copyright © Your Website 2021</p>
                    <br>
                     </div>
               </section>