 <section class="home">
   <div class="sec  d-flex justify-content-center align-items-center text-white pt-4 vh-75">
      <img src=" ./assets/images/avataaars.svg" alt="" class="mt-5 ms-3 pt-lg-5 ">
   </div>
   <div class=" text-center">
      <h2 class="text-uppercase mt-1 fs-1 fw-bolder text-white">start Framework</h2>
      <div class="d-flex justify-content-center mt-2"> 
      <div class="line me-3 mt-2" style="background-color: white;"></div>
      <i class="fa-solid fa-star mb-5 fs-5 text-white"></i>
      <div class="line ms-3 mt-2" style="background-color: white;"></div>
      </div>
      <div class="text-white fw-medium">Graphic Artist - Web Designer - Illustrator</div>

   </div>
   <br>
   <br>
   <br>
   <br>
 </section>

 <section>
 <div class="container2 top-0">
   <div class="row px-5">
     <div class="col-md-4">
     <div class=" text-white ms-lg-5 mt-3">
        <h3>location</h3>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
        </div>
   </div>

   <div class="col-md-4">
     <div class="text-center text-white mt-3">
       <h3 class="mb-2">AROUND THE WEB</h3>  
       <div class="icons">
        <i class="fa-brands fa-facebook mx-1 icon"></i>
        <i class="fa-brands fa-twitter mx-1 icon  "></i>
        <i class="fa-brands fa-linkedin-in mx-1 icon  "></i> 
       <i class="fa-solid fa-globe mx-1 icon  "></i>
     </div>
  </div>

 
   </div>

   <div class="col-md-4">
      <div class="text-center mt-3 text-white">
         <h3 >ABOUT FREELANCER</h3>
         <p > Freelance is a free to use,<br> licensed Bootstrap theme created by Route </p>
      </div>
    </div>

   </div>
</div>
 
 </section>


<section class=" text-center mb-2">
        <div class="Website text-white  align-items-center">
           <p class="tes">Copyright © Your Website 2021</p>
           <br>
            </div>
             
      </section>